services:
  api:
    build: .
    ports:
        - "3333:3333"
        - "5555:5555"

    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: schedule
    ports:
      - "5432:5432"
